
    <% include partials/header.ejs %>
    <h1>Model-View-Controller (MVC) Custom Builder</h1>
    <h2>Database Connection Information</h2>
    <div class="container">
        <form class="frm">
            <div>
                <div class="form-group col-md-2">
                    <label for="exampleFormControlSelect1">Db Type</label>
                    <select class="form-control" id="dbType">
                        <option value="" disabled selected>Type</option>
                      <option>MySQL</option>
                      <option>PostgreSQL</option>
                      <option>MSSQP</option>
                      <option>SQLite</option>
                    </select>
                  </div>
                <div class="form-group col-md-1">
                    <label for="fname" class="control-label">db Name</label>
                    <input type="text" value='' class="form-control" id="dbName" placeholder="Database Name"/>
                </div>
                <div class="form-group col-md-2">
                    <label for="sname" class="control-label">db Login</label>
                    <input type="text" value='' class="form-control" id="dbLoginName" placeholder="Database Login Name"/>
                </div>
                <div class="form-group col-md-2">
                    <label for="job" class="control-label">db Password</label>
                    <input type="text" value='' class="form-control" id="dbLoginPassword" placeholder="Database Login Password"/>
                </div>  
            </div>
        </form>
    </div>
        <% include partials/footer.ejs %>
       